textarea {
  font-family: inherit;
}

textarea::-webkit-input-placeholder {
  padding-left: 0;
  color: var(--for-theme);
}

.input-container {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  width: 60%;
  height: max-content;
  background-color: var(--card-container-bg);
}

.input-text-section-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.input-text-section-container .text {
  background-color: transparent;
  width: 100%;
  height: max-content;
  border: none;
  margin-bottom: 1rem;
  padding-right: 2rem;
  outline: none;
  word-wrap: break-word;
  resize: none;
  color: var(--for-theme);
}

.input-text-section-container .title-text-style {
  font-weight: 500;
  font-size: 3rem;
}

.input-text-section {
  margin: 1rem 0;
}

.pin-icon {
  margin: 1rem 0 0 0;
  cursor: pointer;
  color: var(--for-theme);
  font-size: 2.5rem;
  font-weight: 500;
}

.active {
  color: var(--for-theme);
}

.edit-section select {
  margin-left: 1rem;
}

.edit-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.edit-section-container .tag {
  border: none;
  border-radius: 0.3rem;
  display: inline-block;
  padding: 3px;
  background-color: inherit;
  border: 1px solid var(--for-theme);
  font-size: 2rem;
  color: var(--for-theme);
}

.tag:focus {
  outline: none;
}

.edit-section-container .tag-dark-mode {
  background-color: var(--card-container-bg);
}

.edit-section-container button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  color: var(--for-theme);
}
.edit-section-container button:hover {
  color: var(--primary-color);
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 1150px) {
  .input-container {
    width: 85%;
  }

  .edit-section select {
    margin-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .input-container {
    width: 100%;
  }
}
